body
{
}
table {
    border-top: double;
    border-bottom: double;
    border-right: blank
}
td, th {
    border: 1px solid;
}
thead, tbody, tfoot {
    border-top: solid;
    border-bottom: solid
}

colgroup {
    border-right: solid
}